ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslateblue;
}

ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}


body{
  background-color: black;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

table {
  margin: 0 auto 0 auto;
  width: 70%;
  border-collapse: collapse;
  align-items: center;
  background-color: darkslateblue;
}
td{
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

#Lekérdezés{
  text-align: center;
}

















@media (max-width: 576px) {
    body {
        background-color: gray;
    }
    .container {
        padding: 10px;
    }
    .header, .footer {
        text-align: center;
    }
}


@media (min-width: 577px) and (max-width: 768px) {
    body {
        background-color: rgb(100, 99, 99);
    }
    .container {
        padding: 20px;
    }
    .header, .footer {
        text-align: left;
    }
}


@media (min-width: 769px) {
    body {
        background-color: rgb(94, 91, 91);
    }
    .container {
        padding: 30px;
    }
    .header, .footer {
        text-align: left;
    }
}

