ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: darkslateblue;
}
button{
  background-color: darkslateblue;
}
ul li {
  float: left;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: rgb(110, 24, 108);
}


body{
  background-color: #1B263B;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  color: white;
}

table {
  margin: 0 auto 0 auto;
  width: 70%;
  border-collapse: collapse;
  align-items: center;
  background-color: darkslateblue;
}
td{
  border: 1px solid white;
  padding: 8px;
  text-align: left;
}

th{
  border: 1px solid white;
  padding: 8px;
  text-align: center;
}
h2{
  text-align: center;
  margin-top: 30px;
}

.kep-kontener {
  width: 500px; 
  overflow: hidden; 
  border-radius: 8px;
  margin: 10px auto 0 auto;

}

.zoom-kep {
  width: 100%;
  transition: transform 0.5s ease; 
}

.zoom-kep:hover {
  transform: scale(1.5); 
  cursor: zoom-in;
}

div{
  margin: 20px;
  background-color: slateblue;
  padding: 15px;
}
















@media (max-width: 576px) {
    body {
        background-color: #3911c9c7;
    }
    
    ul li {
        float: none;
        display: block;
    }
    
    table {
        width: 100%;
    }
    
    table, thead, tbody, th, td, tr {
        display: block;
    }
    
    tr {
        margin-bottom: 15px;
    }
    
    th, td {
        text-align: left;
        padding: 10px;
    }

}


@media (min-width: 577px) and (max-width: 768px) {
    body {
         background-color: #3911c970;
    }

}


@media (min-width: 769px) {
    body {
        background-color: #3911c9a8;
    }
}

